<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue js 3</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
    </head>
    <body>
        <div id="app">
            <div class="container">
                 <div class="row">
                    <div class="c">
                        <div v-bind:class="['product-image--'+ selectSize.toString().replace('.','_')]">
                            <img src="ux362fa-1-500x500.jpg" alt=""> 
                        </div>
                        <div class="showSize pb-5">Show Size: {{selectSize}} </div>
                        <div class="col-md-8">
                            Select Size: 
                            <select v-model="selectSize">
                                <option  v-for="size in sizes" value="">{{ size }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="inventory.js"></script> 
        <script src="app.js"></script>
    </body>
</html>